.fish-header {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100vw;
  background: #1E66CE;
background: -moz-linear-gradient(left, #1E66CE 0%, #87C4C5 100%);
background: -webkit-linear-gradient(left, #1E66CE 0%, #87C4C5 100%);
background: linear-gradient(to right, #1E66CE 0%, #87C4C5 100%);
  
}

.fish-sign-out  {
  color: black;
  font-size: 1.35rem;
  
}

.fish-create-post {
  color: black;
  font-size: 1.35rem;
  
}


.fish-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fish-head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}



.fish-sign-out-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
}
.music h1, .music p {
  color: white;
}

.music button {
  background-color: white;
  color: black;
}

h1 {
  color: black;
  font-size: 7rem;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.fish-hello {
  color: black;
  font-size: 1.75rem;
  margin: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}






