.fish-footer button{
  background-color: #CE5816;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.music-footer button{
  background-color: white;
  color: black;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0;
}